# Ignore compiled files:

# Cit-helper:
cit-helper/testcit-helper
cit-helper/libcit-helper.so
cit-helper/cit-helper.o

# Cit-ifconfig:
cit-ifconfig/cit-ifconfig/bin/cit-ifconfig.o
cit-ifconfig/cit-ifconfig/lib/libcit-helper.so
cit-ifconfig/cit-ifconfig/lib/libcit-ifconfig.so

# Cit-system:
cit-system/cit-system/bin/cit-system.o
cit-system/cit-system/lib/libcit-helper.so
cit-system/cit-system/lib/libcit-system.so

#Cit-udhcpd
cit-udhcpd/cit-udhcpd/bin/cit-udhcpd.o
cit-udhcpd/cit-udhcpd/lib/libcit-udhcpd.so
cit-udhcpd/cit-udhcpd/lib/libcit-helper.so

#Cit-vrrp
cit-vrrp/cit-vrrp/bin/cit-vrrp.o
cit-vrrp/cit-vrrp/lib/libcit-vrrp.so
cit-vrrp/cit-vrrp/lib/libcit-helper.so

